.form-block {
  margin: 20px;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.container {
  margin: 100px;
}

label {
  float: left;
}

.error {
  color: red;
  margin: left;
}

.multiField {
  display: flex;
  justify-content: space-between;
}

input.errorInput {
  border: 2px solid red;
}
